:root {
  --dark-blue: #1c1e53;
  --blue: blue;
  --white: #f4f6fc;
  --yellow: #fcd980;
}

.sec {
  width: 85%;
  margin: auto;
  padding-top: 130px;
}

.sec-footer {
  width: 85%;
  margin: auto;
  padding-top: 80px;
}

.color {
  background-color: var(--white);
}

.dark-blue {
  background-color: var(--dark-blue);
}

.dark-blue11 {
  background-color: #282938;
}

.blue {
  color: var(--blue);
}

.bg-blue {
  background-color: var(--blue);
}

.text-yellow-bg {
  background-color: var(--yellow);
}

.text-yellow {
  color: var(--yellow);
}

.offwhite {
  background-color: #f4f5f5;
}

.text-blue-mute {
  background-color: var(--white);
}

.Accent {
  background-color: #eef4fa;
}

.white-yellow {
  background-color: #fcd9801a;
}

.fw-600 {
  font-weight: 600px;
}

.fw-400 {
  font-weight: 400px;
}

.fs-18 {
  font-size: 18px;
}

.fs-24 {
  font-size: 24px;
}

.fs-38 {
  font-size: 38px;
}

.fs-32 {
  font-size: 32px;
}

.fs-48 {
  font-size: 48px;
}

.fs-54 {
  font-size: 54px;
}

.w-65 {
  width: 65%;
}

.w-55 {
  width: 55%;
}

.w-45 {
  width: 45%;
}

.w-90 {
  width: 90%;
}

.w-95 {
  width: 95%;
}

.w-80 {
  width: 80%;
}

.w-32 {
  width: 32%;
}

.w-20 {
  width: 20%;
}

.w-15 {
  width: 15%;
}

.w-5 {
  width: 5%;
}

.h-1191 {
  height: 1191px;
}

.h-354 {
  height: 354px;
}

.h-45 {
  height: 45px;
}

.pb-100 {
  padding-bottom: 100px;
}

.mt-100 {
  margin-top: 100px;
}

.mt--100 {
  margin-top: -100px;
}

.pt-100 {
  padding-top: 100px;
}

.padding {
  padding: 10px 45px;
}

.radius {
  border-radius: 80%;
  padding: 20px 30px;
}

.a-radius {
  border-radius: 30px;
}
